@import "style_variables";

// .container{
//     background-color: aqua;
// }

@media screen and (max-width: $breakpoint-phone) {
    .tooltip {
        position: absolute;
        /*ширина всплывающего описания */
        width: 100%;
        /*длина всплывающего описания */
        height: 100%;
        /*размер шрифта */
        font-size: 1.5vw;
        /*сдвиг всплывающего окна в середину изображения*/
        top: 0%;
        /*сдвиг всплывающего окна по левой стороне изображения*/
        left: 0;
        /*установка прозразности*/
        filter: alpha(opacity=0);
        opacity: 0;
        /*выравнивание текста */
        text-align: left;
        /*цвет текста */
        color: whitesmoke;
        /*фон блока с текстом */
        background: black;
        /*св-во позволяют элементам изменять значения в течение опр-ого периода времени, 
            анимируя изменения свойств, а не заставляя их происходить немедленно*/
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        margin-top: -16px;
    }
}

@media screen and (min-width: #{$breakpoint-phone+1px}) and (max-width: $breakpoint-tablet) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 97%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        margin-top: -16px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: #{$breakpoint-tablet+1px}) and (max-width: $breakpoint-small) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 97%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        margin-top: -16px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: #{$breakpoint-small+1px}) and (max-width: 938px) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 97%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        // height: 40%;
        margin-top: -16px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 939px) and (max-width: 960px) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 98%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        height: 40%;
        margin-top: -16px;
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 961px) and (max-width: #{$breakpoint-medium}) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 98%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        height: 40%;
        margin-top: -16px;
        margin-bottom: 5%;
    }

    .price{
        margin: 8px 16px 0 16px;
        display: flex;
        justify-content: space-between;
        // border: 2px solid blue;
    }
}

@media screen and (min-width: #{$breakpoint-medium+1px}) {
    .tooltip {
        position: absolute;
        width: 100%;
        height: 104%;
        font-size: 1.5vw;
        top: 0%;
        left: 0;
        filter: alpha(opacity=0);
        opacity: 0;
        text-align: left;
        color: whitesmoke;
        background: black; 
        transition: all ease 0.5s;
    }

    .img_bgr_product{
        background: url('../assets/images/our_products/Bgr_Product.png');
        height: 40%;
        margin-top: -16px;
        margin-bottom: 5%;
    }
}

.btn_like_red{
    background: url('../assets/images/our_products/Like_Red.png');
}

.heading_products{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-titles;
}

.gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 2fr);
    grid-gap: 15px;
    width: 90vw;
    margin: 0 auto;
}

.gallery__article {
    font-family: 'Gilroy', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // border: 2px solid blue;
}

.gallery__img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.img__tooltip {
    position: relative;
    margin: 10px auto;
}

.img__tooltip:hover .tooltip {
    /*установка прозразности*/
    filter: alpha(opacity=70);
    /*прозрачность при наведении мыши */
    opacity: .7;
}

.product_name{
    margin: 16px 0 0 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-titles;
}

.product_sort_discription{
    margin: 8px 0 0 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-text3;
}

.price{
    display: flex;
    justify-content: space-between;
    // border: 2px solid blue;
}

.product_price_sale{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-titles;
}

.product_price_cross_out{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: line-through;
    color: $color-text4;
}

.product_price{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-titles;
}

.overlay_all_btn{
    // border: 2px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.overlay_btn_shake_like{
    // border: 2px solid green;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}

.bdt_add_product{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
    height: 48px;
    width: 202px;
    left: 42px;
    top: 175px;
    border-radius: 0px;
    background-color: $color-white;
}

.bdt_show_more{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: $color-primary;
    height: 48px;
    width: 202px;
    left: 42px;
    top: 175px;
    background-color: $color-white;
    border: 1px solid $color-primary;
    margin-top: 5%;
}

